/*--------------IMPORT--------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/*--------------BODY----------------*/

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    background-color: rgb(235, 235, 235);
    color: rgb(99, 99, 99);
}

/*--------------HEADER--------------*/

header{
    display: block;
    margin: 3% auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 500px;
    border: 3px solid rgb(248, 248, 248);
    background-color: rgb(248, 248, 248);
    text-align: center;
    border-radius: 5px;
}

.imgheader{
    position: static;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    border: 3px solid rgb(211, 211, 211);
    height: 100px;
    width: 100px;
}

.h1header{
    text-align: center;
    font-weight: bold;
    color: rgb(180, 66, 66);
}

.pheader{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 30px;
}

.btnheader{
    position: static;
    padding: 15px;
    background-color: rgb(180, 66, 66);
    border: 3px solid rgb(180, 66, 66);
    border-radius: 10px;
    font-weight: bolder;
    color: rgb(248, 248, 248);
    text-decoration: none;
}

.btnheader:visited{
    text-decoration: none;
    color: rgb(248, 248, 248);
}

.btnheader:hover{
    background-color: rgb(248, 248, 248);
    border: 3px solid rgb(214, 214, 214);
    color: rgb(180, 66, 66);
    filter: drop-shadow(0 0 0.5rem rgb(255, 81, 0));
}

/*---------------MAIN---------------*/


/*---------------nav----------------*/

nav{
        display: block;
        margin: 3% auto;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 500px;
        border: 3px solid rgb(248, 248, 248);
        background-color: rgb(248, 248, 248);
        text-align: center;
        border-radius: 5px;
}

ul{
    display:inline-block;
}

.urlnav{
    display:flex;
    text-decoration: none;
    color: rgb(99, 99, 99)
}

.urlnav:visited{
    text-decoration: none;
    color: rgb(99, 99, 99);
    font-weight: bold;
}

.urlnav:hover{
    color: rgb(0, 0, 0);
    filter: drop-shadow(0 0 0.5rem rgb(255, 81, 0));
}

/*--------------movie list--------------*/

.movie{
        display: block;
        margin: 3% auto;
        padding-top: 10px;
        padding-bottom: 30px;
        width: 500px;
        border: 3px solid rgb(248, 248, 248);
        background-color: rgb(248, 248, 248);
        border-radius: 5px;
}

h2{
    text-align: center;
    font-weight: bold;
}

.pmovie{
    text-align: center;
    font-weight: bold;
    font-size: large;
}

blockquote{
   display: inline-block;
   vertical-align: top;
   width: 200px;
   margin: 10px auto;
   padding-left: 20px;
   padding-top: 30px;
}

.imgmovie{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: auto;
    margin: 10px auto;
    padding-left: 20px;
}

/*--------------FOOTER--------------*/